# Compiled Python
*.py[cod]
files/uploads/
maiar/settings_local.py
files/static_root/
galeria_de_arte/settings_local.py

# Executables
*.exe
*.out
*.app

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
