{% load staticfiles %}

<div class="parallax-window" data-parallax="scroll" data-image-src="{% static "customer/images/cpd_blur.jpg" %}" >

  <div class="container  " >

      <!-- Three columns of text below the carousel -->
      <div class="row " style="">
        <div class="col-lg-12 ">
          <h2 style="color:#0159a3;"> Nosso dia-a-dia </h2>
        
        </div>
      </div><!-- /.row -->

      <div class='row'>

      	<div class='col-lg-4 col-md-6 col-sm-8' style="font-size:18px; color:black; filter:alpha(opacity=85);opacity:.85;">
      		    <div class="panel panel-default">
      		    	<div class="panel-body">
      		    		<ul>
		      			<li>Gestão da TI</li>
		      			<li>Gerenciamento da rede</li>
		      			<li>Manutenção do acesso à Internet</li>
		      			<li>Manutenção do Data Center</li>
		      			<li>Gerenciamento dos e-mails corporativos</li>
		      			<li>Gerenciamento dos servidores web</li>
		      			<li>Manutenção da Infraestrutura do SIE</li>
		      			<li>Gerenciamento do Banco de Dados institucional</li>
		      			<li>Informações e dicas sobre TI</li>
		      			<li>Rede Wireless Institucional</li>
		      			<li>Pregão para aquisição de equipamentos</li>
		      		</ul>
      		    	</div>
		      		
        		</div>
        </div>
        <div class='col-lg-8'>
          &nbsp;
        </div>

      </div>

      
      

    </div>

</div>

