{% load staticfiles %}
<div class="container" style="padding-top:30px; padding-bottom:60px;">
	<div class="row featuretted" >
		<div class="col-md-7">
		  <h2 class="featurette-heading">O CPD comprometido com inovação. </h2>
		  
		  <h2><span class="text-muted">Projetos e ações:</span></h2> <br>
		  <p class="lead">Sistemas modernizados com novo layout.</p>
		  <p class="lead">Novos sistemas entregues.</p>
		  <p class="lead">Modernização da transmissão.</p>
		  <p class="lead">Projeto Wireless.</p>
		  </div>
		<div class="col-md-5">
		  <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" 
		   src="{% static "customer/images/inovacao.jpg" %}"
		   data-holder-rendered="true">
		</div>
	</div>
</div>