{% extends 'base.html' %}

{% load thumbnail %}
{% block  pg-container %}

<div class='container '>
    <div class="row">    
        <div class="col-lg-12" style='text-align:center;'>
            <h2>Técnicas</h2>
        </div>
    </div>
    <div class="row">
        {% for tecnica in tecnicas %}
        <div class="col-lg-4 col-md-4 col-sm-4 destaques">
            <center>
                <a  href="{% url "obras.views.tecnica" tecnica.slug  %}">
                <h5>
                    {{ tecnica.nome }} <span class="label label-warning">{{tecnica.count}}</span> 
                </h5>
                </a>
            </center>
          
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}